<div class="container">
  <mat-paginator
    [length]="50"
    [hidePageSize]="true"
    [pageSizeOptions]="[10,20,30,40,50]"
    (page)="pageEvents($event)"
  >
  </mat-paginator>
  <infinite-scroll
    (scrolled)="onScroll(true)"
    style="height: 400px; overflow-y: auto"
    class="infinite-scroll"
  >
    <app-tweet
      *ngFor="let tweet of tweetData$ | async ; index as index"
      [tweet]="tweet"
      [index]="index"
    ></app-tweet>
    <div class="alert alert-dark" *ngIf="isLoading$ | async">
      Fetching tweets...
    </div>
  </infinite-scroll>
</div>
